---
layout: post
title:  "Elon tells Twitter to pause Crypto Wallet efforts. He wants to focus on other tasks such as paid verification"
description: "More important tasks at the new Twitter apparently include a paid verification launch as early as next week and the halting of long-form blogging."
date: "2022-11-04 18:12:09"
categories: ['efforts', 'price', 'twitter']
score: 380
image: "https://i.imgur.com/qaA3hlJ.jpg"
tags: ['efforts', 'price', 'twitter']
link: "https://gizmodo.com/crypto-twitter-elon-musk-dogecoin-1849742723"
---

More important tasks at the new Twitter apparently include a paid verification launch as early as next week and the halting of long-form blogging.

## Highlights

- Blog Platformer reports Twitter is focusing on making the most money in the shortest possible time.
- Twitter's new owner Elon Musk reportedly wants to pause the long-form writing project dubbed “Notes” and a recently revealed crypto wallet.
- The report does not go into why these features are being put on hold, but if I had to guess, it’s because they wouldn’t make Twitter—and Musk—any immediate pocket change to justify the $44 billion escapade to take the company private.
- Gizmodo could not independently verify the report, and Twitter did not respond to a request for comment.
- The company is already being sued for laying off staff without giving them proper notice.

---
